@tailwind base;
@tailwind components;
@tailwind utilities;

/* Delete x scroll bar */

html,
body {
  overflow-x: hidden;
  scrollbar-color: #f5f5f5 transparent;
  scrollbar-width: thin;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/Montserrat-VariableFont_wght.ttf");
}
